<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="title" content="Just Stop">
    <meta name="description" content="A book to help you change your relationship with time.">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://readjuststop.com/assets/img/social.jpg">

  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:title" content="Just Stop">
  	<meta name="twitter:description" content="A book to help you change your relationship with time.">
  	<meta name="twitter:image" content="https://readjuststop.com/assets/img/social.jpg">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,700,900|Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bebasneue/bebasneue.css">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="stylesheet" href="/assets/css/colors.css"> -->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script type="text/javascript" src="/assets/js/social-share-kit.min.js"></script>
  </head>
  <body class="book">
    <header class="woods">
    </header>

    <main>
<div>
      <section id="content" class="page">
        <h1>{{ page.title }}</h1>
        <article>
          {{ content }}
        </article>

        <nav class="social" style="text-align: center">
          <a class="ssk ssk-twitter" href="#"><i class="fa fa-twitter-square"></i></a>
          <a class="ssk ssk-facebook" href="#"><i class="fa fa-facebook-square"></i></a>
          <a class="ssk ssk-linkedin" href="#"><i class="fa fa-linkedin-square"></i></a>
          <a href="mailto:?subject=Excerpt%20from%20%22Just%20Stop%22&body={{ site.url }}{{ page.url }}"><i class="fa fa-envelope-square"></i></a>
        </nav>

        <nav class="pagination">

          {% assign pages = site.chapters | sort: "order" %}
          {% assign count = pages | size %}
          {% for i in (0..count) %}
          {% assign prev = i | minus: 1 %}
          {% assign next = i | plus: 1 %}

          {% if pages[i].title == page.title and prev >= 0 %}
          <a class="prev" href="{{ pages[prev].url}}"> &#8592; {{ pages[prev].title }}</a>
          {% endif %}

          {% if pages[i].title == page.title and prev < 0 %}
          <a class="prev" href="/"> &#8592; Home</a>
          {% endif %}

          {% if pages[i].title == page.title and next < count %}
          <a class="next" href="{{ pages[next].url}}">{{ pages[next].title }} &#8594;</a>
          {% endif %}
          {% endfor %}

        </nav>



      </section>

      <section id="content">
        {% include form.html %}
      </section>
</div>

      <aside>


        <nav>
          <header>
            <h4><a href="/">Just Stop</a></h4>
            <p>A book to help change your relationship with time.</p>
          </header>

          <section>
            <a class="title" href="/">HOME</a>

            <hr/>
          </section>


        {% assign chapters =  site.chapters | sort: "order" | group_by:"chapter" %}
        {% for chapter in chapters %}

            <section>

                <a class="title" href="{{ chapter.items | map: 'url' | first }}">
                  {{ chapter.name | replace: '-', ' ' | upcase}}
                </a>

                <ul>


                  {% for p in chapter.items %}
                  {% if p.url == page.url %}
                  <li><a class="active item" href="{{ p.url }}">{{ p.title }}</a></li>
                  {% else %}
                  <li><a class="item" href="{{ p.url }}">{{ p.title }}</a></li>
                  {% endif %}
                  {% endfor %}

                </ul>

            </section>

        {% endfor %}

        <section>
          <hr/>
          <a href="/" style="display: block">
            <img src="/assets/img/cover.png"/>
          </a>

          <p>
            <a class="button mini" href="https://gum.co/QpepE?wanted=true" data-gumroad-single-product="true">Buy The eBook</a>
          </p>

        </section>

      </nav>

      </aside>


      <footer>
        <div>
          <p>Made in Philly by <a href="//dainsaint.com">Dain</a> and <a href="//miketannenbaum.com">Mike</a></p>
        </div>
      </footer>


  </main>





  <script type="text/javascript">
    SocialShareKit.init();
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157636042-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157636042-1');
</script>

  </body>
</html>
