<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="Just Stop">
    <meta name="description" content="A book to help you change your relationship with time.">
    <meta property="og:image" content="https://readjuststop.com/assets/img/social.jpg">

  	<meta name="twitter:card" content="summary_large_image">
  	<meta name="twitter:title" content="Just Stop">
  	<meta name="twitter:description" content="A book to help you change your relationship with time.">
  	<meta name="twitter:image" content="https://readjuststop.com/assets/img/social.jpg">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,700,900|Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/bebasneue/bebasneue.css">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- <link rel="stylesheet" href="/assets/css/colors.css"> -->

    <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> -->
    <script type="text/javascript" src="/assets/js/social-share-kit.min.js"></script>
  </head>
  <body id="frontpage">

    <header>
      {{ page.promo }}
    </header>

    <main>

      <section id="content">
        <article>
          {{ content }}
        </article>
      </section>



    </main>

  <footer>
  </footer>

  <!-- Fathom - simple website analytics - https://usefathom.com -->
  <script>
  (function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
  (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
  })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
  fathom('set', 'siteId', 'GKQJEIVE');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->
  
  </body>
</html>
