<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/windsor/windsor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,700,900|Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bebasneue/bebasneue.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body id="frontpage">
    <header>
    <nav>

    </nav>
  </header>



    <main class="ui container grid">

      <section class="sixteen wide column">
        <h1>{{ page.title }}</h1>
        <article>
          {{ content }}
        </article>
      </section>

    </main>

  <footer>
  </footer>

  </body>
</html>
